<div class="section features">
	<div class="container">
		<div class="row feature-item justify-content-center">
			<div class="col-md-6 push-md-6 text-center text-md-right">
        <a id="caseload" class="anchor"></a>
				<img src="assets/images/patient-lists.png" width="375" class="img-fluid rounded">
			</div>
			<div class="col-md-6 pull-md-6 text-center text-md-left">
				<h4 class="feature-title">Caseload</h4>
				<p>Easily manage your caseload.</p>
				<p>Infinity makes it easy to have continuous up to date information about your patients, all in one place, shared by your team. Filter your list to view patients from a single team or multiple teams at once. Sort your list and prioritise your patients in terms of acuity of condition, by team or by location.</p>
			</div>
		</div>
		<div class="row feature-item justify-content-center">
			<div class="col-md-6 text-center text-md-left">
        <a id="tasks" class="anchor"></a>
				<img src="assets/images/tasks.png" width="375" class="img-fluid rounded">
			</div>
			<div class="col-md-6 text-center text-md-left">
				<h4 class="feature-title">Tasks</h4>
				<p>Create, track and prioritise clinical tasks.</p>
				<p>Quickly record tasks on the go, wherever or whenever they arise. Including due dates and times allows you to prioritise the most urgent tasks across your entire caseload or for just one patient.</p>
			</div>
		</div>
		<div class="row feature-item justify-content-center">
			<div class="col-md-6 push-md-6 text-center text-md-right">
        <a id="notifications" class="anchor"></a>
				<img src="assets/images/notifications.png" width="375" class="img-fluid rounded">
			</div>
			<div class="col-md-6 pull-md-6 text-center text-md-left">
				<h4 class="feature-title">Notifications</h4>
				<p>Receive alerts and reminders.</p>
				<p>Push notifications ensure you are always informed and nothing is ever missed. The notification log allows you to review all updates for your entire caseload, in a single view.</p>
			</div>
		</div>
		<div class="row feature-item justify-content-center">
			<div class="col-md-6 text-center text-md-left">
        <a id="collaboration" class="anchor"></a>
				<img src="assets/images/collaboration.png" width="375" class="img-fluid rounded">
			</div>
			<div class="col-md-6 col-md-6 text-center text-md-left">
				<h4 class="feature-title">Collaboration</h4>
				<p>Seamlessly share and handover with your team.</p>
				<p>Infinity makes it easy to manage your team members and their roles. Share a patient with your team and allow colleagues to access and record information in real-time, ensuring the whole team is working together to provide the best possible care for patients.</p>
			</div>
		</div>
		<div class="row feature-item justify-content-center">
			<div class="col-md-6 push-md-6 text-center text-md-right">
				<a id="notes" class="anchor"></a>
				<img src="assets/images/notes.png" width="375" class="img-fluid rounded">
			</div>
			<div class="col-md-6 pull-md-6 text-center text-md-left">
				<h4 class="feature-title">Notes</h4>
				<p>Record, update and share case notes.</p>
				<p>This summary information is vital for safe and efficient handover, ensuring the whole team are informed and up-to-date.</p>
			</div>
		</div>
	</div>
</div>
