<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
          <li>
            <a href="/legal">Legal</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            <a href="/doctors">Doctors</a>
          </li>
          <li>
            <a href="/nurses">Nurses</a>
          </li>
          <li>
            <a href="/carers">Carers</a>
          </li>
          <li>
            <a href="/managers">Managers</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li class="text-black">
            Infinity Health
          </li>
          <li>
            <i class="fa fa-fw fa-phone"></i> +44 203 637 5057
          </li>
          <li>
            <i class="fa fa-fw fa-envelope"></i> <a href="mailto:hello@infinityhealth.io">hello@infinityhealth.io</a>
          </li>
          <li>
            45 Circus Rd, London, NW8 9JH
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% include intercom.html %}
