<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top top-nav">
  <div class="nav-container">
    <div class="nav-row">
    <div class="nav-col">
      <a class="navbar-brand text-left" href="/">
        <img src="assets/images/infinityhealth.png" class=nav-logo height="30">
      </a>
    </div>
    <div class="nav-col2 text-right">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

   </div>

    <div class="nav-lg-col">
      <div class="collapse navbar-collapse nav-full" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link nav-hover dropdown-toggle" href="/features" id="navbarDropdownMenuLink">
              Features
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Doctors</a>
              <a class="dropdown-item" href="#">Nurses</a>
              <a class="dropdown-item" href="#">Carers</a>
              <a class="dropdown-item" href="#">Managers</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-hover" href="/pricing">
              Pricing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-hover" href="http://support.infinityhealth.io">
              Support
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-signup nav-signup nav-button" href="signup">
              Sign up free
            </a>
          </li>
        </ul>
      </div>

    </div>

    </div>
  </div>


</nav>
