
<div class="team">

  <div class="team-row">

    <div class="team-picname">
      <div class="team-content">
        <div class="team-graphic">
            <h4 class="team-graphic-text">Infinity<br>Team</h4>
        </div>
      </div>
    </div>

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/elliottengers/">
            <img src="assets/images/team/elliott-engers.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/elliottengers/" class="team-link">
            <p class="team-name underline-style">Elliott Engers</p>
            <br>
            <p class="underline-style">Founder & CEO</p>
          </a>
        </div>
      </div>
    </div>

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/adam-benton-685b5327/">
            <img src="assets/images/team/adam-benton.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/adam-benton-685b5327/" class="team-link">
            <p class="team-name underline-style">Adam Benton</p>
            <br>
            <p class="underline-style">Medical Director</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="team-row">

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/martin-taylor-a80b8b16/">
            <img src="assets/images/team/martin-taylor.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/martin-taylor-a80b8b16/" class="team-link">
            <p class="team-name underline-style">Martin Taylor</p>
            <br>
            <p class="underline-style">CFO</p>
          </a>
        </div>
      </div>
    </div>

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/jo-garland-07b99570/">
            <img src="assets/images/team/jo-garland.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/jo-garland-07b99570/" class= "team-link">
            <p class="team-name underline-style">Jo Garland</p>
            <br>
            <p class="underline-style">Clinical Lead</p>
          </a>
        </div>
      </div>
    </div>

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/viniciushorewicz/" class="text-left">
            <img src="assets/images/team/vinicius-horewicz.jpg" class="img-responsive team-img ">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/viniciushorewicz/" class="team-link">
            <p class="team-name underline-style">Vinicius Horewicz</p>
            <br>
            <p class="underline-style">Head of Engineering</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="team-row">

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/hamon-ben-riazy-71408573/">
            <img src="assets/images/team/ben-riazy.jpg" class="img-responsive team-img ">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/hamon-ben-riazy-71408573/" class="team-link">
            <p class="team-name underline-style">Ben Riazy</p>
            <br>
            <p class="underline-style">Head of Mobile</p>
          </a>
        </div>
      </div>
    </div>

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/jrossreed/">
            <img src="assets/images/team/jack-reed.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/jrossreed/" class="team-link">
            <p class="team-name underline-style">Jack Reed</p>
            <br>
            <p class="underline-style">Delivery Manager</p>
          </a>
        </div>
      </div>
    </div>

    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic">
          <a href="https://www.linkedin.com/in/thomasedwking/">
            <img src="assets/images/team/tom-king.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text">
          <a href="https://www.linkedin.com/in/thomasedwking/" class="team-link">
            <p class="team-name underline-style">Tom King</p>
            <br>
            <p class="underline-style">Marketing Manager</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="team-row directors">
    <div class="col-12 text-right">
      <a href="/directors-advisors" class="underline-style directors-link">Board of Directors and Advisors</a>
    </div>
  </div>

  <br>
</div>
<br>
