<!--div class="maybe section of some sort for formatting?"-->
<hr width="50%" size="8" align="center">

<div class="team">

<!--Elliott Adam -->
  <div class="team-content">

      <!--Elliott-->
      <div class="team-picname team-link">
        <div class="team-content">
            <div class="team-pic text-right">
              <img src="assets/images/carer_2.jpg" class="img-responsive">
            </div>
            <div class="team-text text-md-center text-lg-left">
                <h4>Elliott Engers</h4>
                <h5>CEO</h5>
                <a href="https://www.linkedin.com/in/elliottengers/">Linkedin</a>
            </div>
        </div>
      </div>

      <!--Adam-->
      <div class="team-picname team-link2">
        <div class="team-content">
            <div class="team-pic text-right">
                <img src="assets/images/carer_2.jpg" class="img-responsive">
            </div>
            <div class="team-text text-md-center text-lg-left">
                <h4>Adam Benton</h4>
                <h5>Medical Director</h5>
                <a href="https://www.linkedin.com/in/adam-benton-685b5327/">Linkedin</a>
            </div>
        </div>
      </div>


  <!--End of Elliott Adam-->
  </div>

<!--Laurie Martin-->
<div class="team-content">

  <!--Laurie-->
  <div class="team-picname">
    <div class="team-content">
        <div class="team-pic text-right">
            <img src="assets/images/carer_2.jpg" class="img-responsive">
        </div>
        <div class="team-text text-md-center text-lg-left">
            <h4>Laurie Wiseman</h4> <h5>Chairman</h5>
            <a href="https://www.linkedin.com/in/laurie-wiseman-42bab68/">Linkedin</a>
        </div>
    </div>
  </div>

    <!--Adam-->
    <div class="team-picname team-link2 img3">
      <div class="team-content">
          <div class="team-pic text-right">
              <img src="assets/images/carer_2.jpg" class="img-responsive">
          </div>
          <div class="team-text text-md-center text-lg-left">
              <h4>Martin Taylore</h4>
              <h5>Finance Director</h5>
              <a href="https://www.linkedin.com/in/martin-taylor-a80b8b16/">Linkedin</a>
          </div>
      </div>
    </div>


</div>

  <!--Jo Tom-->
    <div class="team-content">


        <!--Jo-->
        <div class="team-picname">
          <div class="team-content">
              <div class="team-pic text-right">
                  <img src="assets/images/carer_2.jpg" class="img-responsive">
              </div>
              <div class="team-text text-md-center text-lg-left">
                  <h4>Jo Garland</h4>
                  <h5>Clinical  Lead</h5>
                  <a href="https://www.linkedin.com/in/jo-garland-07b99570/">Linkedin</a>
              </div>
          </div>
        </div>

        <!--Tom-->
        <div class="team-picname">
          <div class="team-content">
              <div class="team-pic text-right">
                  <img src="assets/images/carer_2.jpg" class="img-responsive">
              </div>
              <div class="team-text text-md-center text-lg-left">
                  <h4>Tom King</h4>
                  <h5>Marketing Manager</h5>
                  <a href="https://www.linkedin.com/in/thomasedwking/">Linkedin</a>
              </div>
          </div>
        </div>


    <!--Jo Tom-->
    </div>


      <!--Vinnie Ben Jack-->
        <div class="team-content">


          <!--Jack-->
          <div class="team-coders">
            <div class="team-content">
                <div class="team-pic text-right">
                    <img src="assets/images/carer_2.jpg" class="img-responsive">
                </div>
                <div class="team-text text-md-center text-lg-left">
                    <h4>Jack Reed</h4>
                    <h5>Delivery Manager</h5>
                    <a href="https://www.linkedin.com/in/jrossreed/">Linkedin</a>
                </div>
            </div>
          </div>

          <!--Vini-->
          <div class="team-coders">
            <div class="team-content">
                <div class="team-pic text-right">
                    <img src="assets/images/carer_2.jpg" class="img-responsive">
                </div>
                <div class="team-text text-md-center text-lg-left">
                    <h4>Vini Horewicz</h4>
                    <h5>Head of Enginieering</h5>
                    <a href="https://www.linkedin.com/in/viniciushorewicz/" class="text-left">Linkedin</a>
                    <a href="https://github.com/wicz" class="text-left">GitHub</a>
                </div>
            </div>
          </div>

            <!--Ben-->
            <div class="team-coders">
              <div class="team-content">
                  <div class="team-pic text-right">
                      <img src="assets/images/carer_2.jpg" class="img-responsive">
                  </div>
                  <div class="team-text text-md-center text-lg-left">
                      <h4>Ben Riazy</h4>
                      <h5>Head of Mobile</h5>
                      <a href="https://www.linkedin.com/in/hamon-ben-riazy-71408573/">Linkedin <br> </a>
                      <p>
                      <a href="https://github.com/ryce">Github</a>
                      </p>
                  </div>
              </div>
            </div>


        <!--Ben Jack Tom-->
        </div>


<br>
</div>

<!--/div-->
<br>
