<!--div class="maybe section of some sort for formatting?"-->

<div class="team">

  <!--Elliott Adam -->
  <div class="team-row">

    <!--Elliott-->

    <div class="team-picname text-center">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/elliottengers/">
            <img src="assets/images/team/elliott-engers.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/elliottengers/" class="team-link">
            <h5>Elliott Engers</h5>
            <h6>CEO</h6>
          </a>
        </div>
      </div>
    </div>


    <!--Adam-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/adam-benton-685b5327/">
            <img src="assets/images/team/adam-benton.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/adam-benton-685b5327/" class="team-link">
            <h5>Adam Benton</h5>
            <h6>Medical Director</h6>
          </a>
        </div>
      </div>
    </div>

    <!--Laurie-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/adam-benton-685b5327/">
            <img src="assets/images/team/laurie-wiseman.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/adam-benton-685b5327/" class="team-link">
            <h5>Laurie Wiseman</h5>
            <h6>Chairman</h6>
          </a>
        </div>
      </div>
    </div>

    <!--End of Elliott Adam-->
  </div>

  <!--Laurie Martin-->
  <div class="team-row">



    <!--Adam-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/martin-taylor-a80b8b16/">
            <img src="assets/images/team/martin-taylor.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/martin-taylor-a80b8b16/" class="team-link">
            <h5>Martin Taylor</h5>
            <h6>Finance Director</h6>
          </a>
        </div>
      </div>
    </div>

    <!--Jo-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/jo-garland-07b99570/">
            <img src="assets/images/team/jo-garland.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/jo-garland-07b99570/" class= "team-link text-center">
            <h5>Jo Garland</h5>
            <h6>Clinical Lead </h6>
          </a>
        </div>
      </div>
    </div>

    <!--Tom-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/thomasedwking/">
            <img src="assets/images/team/tom-king.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/thomasedwking/" class="team-link">
            <h5>Tom King</h5>
            <h6>Marketing Manager</h6>
          </a>
        </div>
      </div>
    </div>

  </div>

  <!--Jo Tom-->
  <div class="team-row">


    <!--Jack-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/jrossreed/">
            <img src="assets/images/team/jack-reed.jpg" class="img-responsive team-img">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/jrossreed/" class="team-link">
            <h5>Jack Reed</h5>
            <h6>Delivery Manager</h6>
          </a>
        </div>
      </div>
    </div>

    <!--Vini-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/viniciushorewicz/" class="text-left">
            <img src="assets/images/team/vinicius-horewicz.jpg" class="img-responsive team-img ">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/viniciushorewicz/" class="team-link">
            <h5> Vinicius Horewicz</h5>
            <h6>Head of Engineering</h6>
          </a>
        </div>
      </div>
    </div>

    <!--Ben-->
    <div class="team-picname">
      <div class="team-content">
        <div class="team-pic text-center">
          <a href="https://www.linkedin.com/in/hamon-ben-riazy-71408573/">
            <img src="assets/images/team/ben-riazy.jpg" class="img-responsive team-img ">
          </a>
        </div>
        <div class="team-text text-center">
          <a href="https://www.linkedin.com/in/hamon-ben-riazy-71408573/" class="team-link">
            <h5>Ben Riazy</h5>
            <h6>Head of Mobile </h6>
          </a>
        </div>
      </div>
    </div>



  </div>


  <br>
</div>

<br>
