<div class="section personas">
  <h3 class="text-center personas-header">Infinity for everyone.</h3>
  <div class="testimonials">

    <div class="testimonial-content">

      <!--doctor-->
      <div class="testimonial-picquote">
        <a href="/doctors" class="persona-link">
          <div class="testimonial-content">
            <div class="testimonial-pic">
              <img src="assets/images/carer_2.jpg" class="rounded-circle img-responsive testimonial-img">
            </div>
            <div class="testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
                Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Doctor's Name</h6>
            </div>
          </div>
        </a>
      </div>

      <!--nurse-->
      <div class="testimonial-picquote">
        <a href="/nurses" class="persona-link">
          <div class="testimonial-content">
            <div class="testimonial-pic">
              <img src="assets/images/carer_2.jpg" class="rounded-circle img-responsive testimonial-img">
            </div>
            <div class="testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
                Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Nurse's Name</h6>
            </div>
          </div>
        </a>
      </div>

      <!--carer-->
      <div class="testimonial-picquote">
        <a href="/carers" class="persona-link">
          <div class="testimonial-content">
            <div class="testimonial-pic">
              <img src="assets/images/carer_2.jpg" class="rounded-circle img-responsive testimonial-img">
            </div>
            <div class="testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
                Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Carer's Name</h6>
            </div>
          </div>
        </a>
      </div>

    </div>
      <!--signupbutton-->

            <p class="text-center cta-button signup3">
              <a href="/signup" class="btn btn-ih btn-lg">Sign up free</a>
            </p>

  </div>
</div>
