
<div class="section personas">
  <div class="testimonials">

    <div class="testimonial-content">

      <div class="testimonial-picquote">
          <div class="testimonial-content">
            <!--div class="testimonial-pic">
              <img src="assets/images/carer_2.jpg" class="rounded-circle img-responsive testimonial-img">
            </div-->
            <div class="testimonial-quote">
              <h5 class="persona-title italic text-center">
                "Infinity represents a step change in medical communication."
              </h5>
              <h6 class="persona-title text-center"><strong>Shah Nawaz Khan MB BS BSC MRCS</strong><br>Orthopaedic Registrar</h6>
            </div>
          </div>
      </div>

      <div class="testimonial-picquote">
          <div class="testimonial-content">
            <!--div class="testimonial-pic">
              <img src="assets/images/carer_2.jpg" class="rounded-circle img-responsive testimonial-img">
            </div-->
            <div class="testimonial-quote">
              <h5 class="persona-title italic text-center">
                "This will help keep the person at the heart of everything we do."
              </h5>
              <h6 class="persona-title text-center"><strong>Julia Brown</strong><br>Director of Operations and Development</h6>
            </div>
          </div>
      </div>

      <div class="testimonial-picquote">
          <div class="testimonial-content">
            <!--div class="testimonial-pic">
              <img src="assets/images/carer_2.jpg" class="rounded-circle img-responsive testimonial-img">
            </div-->
            <div class="testimonial-quote">
              <h5 class="persona-title italic text-center">
                "I find Infinity so efficient and saves me time."
              </h5>
              <h6 class="persona-title text-center"><strong>Samuel Enikanoselu</strong><br>Support Worker</h6>
            </div>
          </div>
      </div>

    </div>

  </div>
</div>
