
<div class="section personas">
<h3 class="text-center personas-header">Infinity for everyone.</h3>

  <div class="testimonials">

    <div class="testimonial-content">

      <!--doctor-->
      <div class="testimonial-picquote">
        <!--a href="/doctors" class="persona-link"-->
        <div class="testimonial-content">
            <div class="testimonial-pic">
              <img src="http://images.clipartpanda.com/smiley-face-clip-art-images-sun_smiley_face.png" class="rounded-circle img-responsive">
            </div>
            <div class="testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
                Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Doctor's Name</h6>
            </div>
        </div>
      <!--/a-->
      </div>

      <!--nurse-->
      <div class="testimonial-picquote">
        <!--a href="/nurses" class="persona-link"-->
        <div class="testimonial-content">
            <div class="testimonial-pic">
              <img src="http://images.clipartpanda.com/smiley-face-clip-art-images-sun_smiley_face.png" class="rounded-circle img-responsive">
            </div>
            <div class="testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
                Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Nurse's Name</h6>
            </div>
        </div>
        <!--/a-->
      </div>

      <!--carer-->
      <div class="testimonial-picquote">
        <!--a href="/carers" class="persona-link"-->
          <div class="testimonial-content">
            <div class="testimonial-pic">
              <img src="http://images.clipartpanda.com/smiley-face-clip-art-images-sun_smiley_face.png" class="rounded-circle img-responsive">
            </div>
            <div class="testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
                Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Carer's Name</h6>
            </div>
          </div>
        <!--/a-->
      <div>

    </div>

  </div>

  <!--signupbutton-->
  <div class="testimonials">
    <div class="signup">
      <div class="signupfull">
        <p class="text-center cta-button signup3">
          <a href="/signup" class="btn btn-ih btn-lg">Sign up free</a>
        </p>
      </div>
    </div>
  </div>

</div>

<!--div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p class="text-center cta-button text-center signup3">
        <a href="/signup" class="btn btn-ih btn-lg">Sign up free</a>
      </p>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <h3 class="text-center personas-header">Infinity for everyone.</h3>

    <div class="row">

      <div class="col-lg-4 col-md-12 col-sm-12">
        <a href="/doctors" class="persona-link">
        <div class="row">
          <div class="col-lg-6 col-md-5 testimonial-pic2">
              <img src="https://www.theenergy.coop/sites/default/files/white-block_1.png" class="rounded-circle">
          </div>
          <div class="col-lg-6 col-md-7 testimonial-quote">
              <h5 class="persona-title"><strong class="font-weight-bold text-center">
              Testimonial Example: "This is a Game Changer!"
              </strong></h5>
              <h6 class="persona-title">- Doctor's Name</h6>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <a href="/nurses" class="persona-link">
        <div class="row">
          <div class="col-lg-6 col-md-5 testimonial-pic2">
              <img src="https://www.theenergy.coop/sites/default/files/white-block_1.png" class="rounded-circle">
          </div>
          <div class="col-lg-6 col-md-7 testimonial-quote">
              <h4 class="persona-title"><strong class="font-weight-bold">Nurse Name</strong></h4>
              <p>
              Prioritise tasks and release more time to care for your patients.
              </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <a href="/carers" class="persona-link">
        <div class="row">
          <div class="col-lg-6 col-md-5 testimonial-pic2">
              <img src="https://www.theenergy.coop/sites/default/files/white-block_1.png" class="rounded-circle">
          </div>
          <div class="col-lg-6 col-md-7 testimonial-quote">
              <h4 class="persona-title"><strong class="font-weight-bold">Carer Name</strong></h4>
              <p>
              Share up-to-date care plans and collaborate to get things done.
              </p>
          </div>
        </div>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="text-center cta-button text-center signup3">
            <a href="/signup" class="btn btn-ih btn-lg">Sign up free</a>
          </p>
        </div>
      </div>
    </div-->
