
@mixin transition-all()
    -webkit-transition: all .2s
    -moz-transition: all .2s
    transition: all .2s

@mixin background-cover()
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.continue-link:hover
    .underline-style:after
        +media-breakpoint-up (sm)
            transition: width .5s ease, background-color .5s ease
            width: 100%
            background: black

.news
    padding-bottom: 2em
    +make-container
    +media-breakpoint-up (md)
        width: 960px
        max-width: 100%
    +media-breakpoint-up(lg)
        width: 730px
        max-width: 100%

.news-title-container
    +make-container
    +media-breakpoint-up (md)
        width: 960px
        max-width: 100%
    +media-breakpoint-up(lg)
        width: 730px
        max-width: 100%

.quote
    color: #285aaa
    font-weight: 200
    padding-left: 1rem
    margin-bottom: .5rem
    font-size: 1.25rem

.quote-source
    text-align: left
    padding-left: 1rem

.quote-border
    border-left: .25rem solid #eceeef

.section-heading
    font-size: 36px
    font-weight: 700
    margin-top: 60px

.caption
    font-size: 14px
    font-style: italic
    display: block
    margin: 0
    padding: 10px
    text-align: center
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px

::selection
    color: white
    background: #3273dc
    text-shadow: none

img::selection
    color: white
    background: transparent

a
    color: #14325a
    @include transition-all
    &:hover,
    &:focus
        color: #3273dc


.news-img
    width: 100%
    text-align: left
    height: auto
    margin-bottom: 20px

.post-preview
    text-align: left
    > a
        color: #14325a
        &:hover,
        &:focus
            text-decoration: none
            color: #285aaa
        > .post-title
            font-size: 23px
            font-weight: 300
            color: #464a4c
    .post-excerpt
        margin: 0
        line-height: 1rem
        color: #777984
        font-size: 12px
        font-weight: 300
    .post-meta, .read-more
        text-align: left
        font-size: 10px
        font-weight: 300
        color: #292b2c
        > a
            text-decoration: none
            color: #14325a
            &:hover,
            &:focus
                text-decoration: none
                color: #292b2c
    @media only screen and (min-width: 768px)
        > a
            > .post-title
                margin-top: 1em
                font-size: 30px
        .post-excerpt
            line-height: 1.5rem
            font-size: 16px
            font-weight: 300px
        .post-meta
            font-size: 12px
            margin-bottom: 25px
        .read-more
            padding-top: 25px
            font-size: 12px
            margin-bottom: -1em

.news-header
    margin-bottom: 40px
    background: no-repeat center center
    background-color: #285aaa
    background-attachment: scroll
    @include background-cover
    height: 290px
    @media only screen and (min-width: 768px)
        height: 350px
    +media-breakpoint-down (sm)
        height: 250px
    .site-heading,
    .post-heading,
    .page-heading
        padding: 7em 0 50px
        color: white
        @media only screen and (min-width: 768px)
            padding: 115px 0
        +media-breakpoint-down (sm)
            padding: 6.5em 0 50px
    .archive-heading
        padding: 9.5em 0 50px
        color: white
        @media only screen and (min-width: 768px)
            padding: 7.5em 0
    .site-heading,
    .archive-heading,
    .page-heading
        text-align: center
        h1
            font-size: 50px
            margin-top: 0
    .site-heading
        h1
            +media-breakpoint-down (sm)
                font-size: 40px
        .subheading
            font-size: 15px
            font-weight: 300
            line-height: 1.1
            display: block
            margin: 10px 0 0
        @media only screen and (min-width: 768px)
            h1
                font-size: 80px
            .subheading
                font-size: 25px
    .post-heading
        text-align: center
        +media-breakpoint-up (lg)
            padding-top: 10.5em
        h1
            font-size: 20px
            font-weight: 300
        .meta
            font-size: 10px
            font-weight: 300
            line-height: 1.1
            display: block
            a
                color: white
        @media only screen and (min-width: 768px)
            h1
                font-size: 35px
            .subheading
                font-size: 20px
