//team sass


.team
  +make-container
  +media-breakpoint-up(lg)
    margin-left: 5em

.team-content
  +make-row

.team-picname
  +make-col-ready
  +make-col(12)
  +media-breakpoint-up(md)
    +make-col(6)

.team-coders
  +make-col-ready
  +make-col(12)
  +media-breakpoint-up(md)
    +make-col(4)

.team-pic
  +make-col-ready
  +make-col(4)

.team-text
  +make-col-ready
  +make-col(8)

.team-social
  color: #999999
  font-size: 1.5em

.team-picname, .team-coders
  +media-breakpoint-down (md)
    padding: 1em
  +media-breakpoint-up(md)
    padding-bottom: 2em

.team-img
  width: 7em
  height: 7em
