---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "vendor/bootstrap/bootstrap";
@import "vendor/bootstrap/bootstrap-grid";
@import "testimonials";
@import "team";
@import "carousel";
@import "nav";
@import "news";
@import "signup2";
@import "vendor/animate/_properties";
@import "vendor/animate/_attention-seekers/_pulse";

$blue-l1: #d2e3f8;
$blue-l2: #3273dc;
$blue-l3: #285aaa;
$blue-l4: #14325a;

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-Bold.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-BoldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

body {
  font-family: "FS Millbank", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  background-color: #fafafa;
  font-size: 14px;
  height: 100%;
}

.signup2-button, .nav-signup {
  @include pulse()
}

.signup-text {
  margin-top: 3.5rem !important
}

.signup-img {
  margin-top: 1.5rem !important
}

.line-break {
  width: 50%;
  text-align: center;
}

.signup3 {
  text-align: center !important;
}

.section.signup {
  float: none;
}

.section:first-of-type {
  padding-top: 3em;
}

.subheading {
  color: #d2e3f8;
  font-weight: 300;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1em;
}

.cta-button {
  margin-top: 2em;
}

.feature-item:first-of-type {
  margin-top: 2em;
}

.feature-item {
  margin-top: 4em;
  text-align: center;
}

.feature-item {
  padding-bottom: 4em;
  border-bottom: 1px solid #ccc;
}

.feature-item:last-of-type {
  border-bottom-width: 0;
}

.feature-title {
  font-weight: 500;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #333;
}

.section.personas a.persona-link {
  color: #d2e3f8;
  padding-bottom: 2em;
  padding-top: 2em;
  display: block;
  border-radius: 10px;
}

a.persona-link:hover {
  text-decoration: none;
  @include pulse()
}

.section.features a.feature-link {
  color: #666 !important;
  display: block;
  padding: 2em;
  border-radius: 10px;
}

.section.features a.feature-link:focus,
.section.features a.feature-link:hover {
  text-decoration: none;
  background-color: #eee;
}

.heading {
  margin: .5em auto;
  margin-bottom: .25em;
}

.features-heading {
  margin: 1.25em auto;
  margin-bottom: .25em;
}

.features-signup {
  background-color: #3273dc;
  color: #fff;
}

.features-signup:hover {
  background-color: #fff !important;
  color: #3273dc !important;
}

.section.personas {
  margin: 0;
  padding-bottom: 2em;
  background-color: #fafafa;
  color: #d2e3f8;
}

.persona-icon {
  color: #fff;
}

.feature-icon {
  color: #285aaa;
}

.section.security {
  background-color: #222;
  color: #efefef;
  margin: 0;
  padding: 6em 0;
  width: 100%;
}

.section.security .sec-lo {
  color: #ccc;
}

.section.security .sec-hi {
  color: #efefef;
  font-weight: 500;
}

.section.footer {
  color: #666;
  padding: 0;

  .container {
    border-top: 1px solid #ddd;
    padding-top: 1em;
  }

  a {
    color: #666;
  }

  li {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  i.fa {
    color: #999;
  }
}

.section.contactus {
  background-color: #efefef;
}

.section.features {
  background-color: #fafafa;
  color: #666;
  margin-top: 3em;
}

.section.pricing {
  padding-bottom: 2em;

  &:first-of-type {
    padding-top: 8em;
    background-color: $blue-l2;
    color: #fff;
  }

  .card {
    margin-top: 1em;
  }
}

.pricing-plan {
  padding-top: 2em;
  padding-bottom: 1em;
}

.plan-name {
  font-weight: 500;
}

.pricing-header {
  text-align: center;
  padding-top: 3em;
}

.pricing-plan-alt {
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}

.pricing-icon {
  margin-bottom: .15em;
  color: $blue-l3;
}

.price {
  margin-bottom: 1em;
}

.pricing-separator {
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  border: 0;
}

.feature-disabled {
  text-decoration: line-through;
  color: #d2e3f8;
}

.persona-bg-features {
  background: $blue-l3;
  height: 250px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 992px) {
    height: 250px;
  }
}

.persona-bg {
  background: $blue-l3;
  height: 300px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 992px) {
    height: 700px;
  }
}

.persona-bg-doctor {
  @media (min-width: 992px) {
    background-image: url(images/doctor.jpg);
  }
}

.persona-bg-surgeon {
  @media (min-width: 992px) {
    background-image: url(images/surgeon.jpg);
  }
}

.persona-bg-nurse {
  @media (min-width: 992px) {
    background-image: url(images/nurse.jpg);
  }
}

.persona-bg-carer {
  @media (min-width: 992px) {
    background-image: url(images/carer.jpg);
  }
}

.persona-bg-manager {
  @media (min-width: 992px) {
    background-image: url(images/manager.jpg);
  }
}

.feature-item img {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tagline2 {
  top: 0px;
  color: #fff;
  text-align: center !important;
  position: relative;

  &.tagline2-alt {
    right: 0;
    text-align: right;
  }

  p {
    text-shadow: 1px 1px 2px black;
  }

  h3 {
    margin-bottom: 1em;
  }

  .btn-ih {
    margin-top: 1em;
    padding: 1em 3em;
    text-transform: uppercase;
  }
}

.contact-details {
  color: #000;
  margin-bottom: .25em;
}

.lead-form {
  width: 270px;
  margin: 0 auto;
}

.lead-result {
  margin-top: 2em;
}

.section.legal {
  margin-top: 5em;

  h2 {
    font-size: 100%;
  }
}

.section.careers {
  margin-top: 5em;
}

.text-black {
  color: #000;
}

.padlock {
  max-width: 250px;
}

.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
  @media (max-width: 770px) and (min-width: 353px) {
    margin-top: -80px;
  }
  @media (max-width: 352px) {
    margin-top: -60px;
  }
}

.social-icon {
  text-align: left;
  font-size: 1.5em;
}
