---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bootstrap";
@import "bootstrap-grid";
@import "testimonials";

$blue-l1: #d2e3f8;
$blue-l2: #3273dc;
$blue-l3: #285aaa;
$blue-l4: #14325a;

.hero-screenshot {
  display: block;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.device-carousel {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.hideimage {
  display: block;

  @include media-breakpoint-down(md) {
    display:none;
    visibility: hidden;
  }
}



@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-Bold.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "FS Millbank";
  src: url("fonts/FSMillbankNegativeWeb-BoldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

body {
  font-family: "FS Millbank", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  background-color: #fafafa;
  font-size: 14px;
}

.top-nav {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #3273dc;
  box-shadow: 0 0 40px rgba(37,45,51, .5);
}

.btn-signup {
  background-color: #14325a !important;
  color: #efefef !important;
}

.btn-ih {
  color: #3273dc !important;
  background-color: #fff !important;
}

.btn-ih-alt {
  background-color: #3273dc !important;
  color: #fff !important;
}

.section.top-section {
  margin-bottom: 3em;
  background-color: #3273dc;
}

/* SOPHIE'S CSS EDITS BEGIN*/

.photos img {
  height: auto;
  margin-top: 20px;
  max-width: 100%;
}

.testimonial-pic img {
  width: 5em;
  height: 5em;
  margin-top: 1em;
  display: inline-block;
}

.photos .row {
  text-align: center;
}

.carouselExampleIndicators {
  @media (min-width: 550px) {
    background-image: url(assets/images/iphone_tasks.png)
  }
}

.collab {
  font-weight: 400;
  font-size: medium;
  text-align: center;
}

.signup2 {
  @media (min-width: 1024px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 1441px) {
    padding-left: 27% ;
    padding-right: 27%;
  }

}

.carousel-buttons button {
/*  background-color: rgb(45, 96, 179);  #3273dc   #14325a*/
  background-color: #ffffff;
  color: #3273dc;
  font-family: inherit;
  padding: 5px 7px !important;
  font-weight: 400 !important;
  font-size: medium;
  -webkit-transition-duraction: 0.4s;
  transition-duration: 0.4s;
}

.carousel-buttons:hover button{
  border-color: #3273dc;
  border-style: solid;
}

.signup3 {
  text-align: center !important;
}

.testimonialpic {
  overflow: hidden;
  width: 14vw;
  height: 14vw;
  text-align: center;
  float: center;
}


.tagline2 {
  top: 250px;
  color: #fff;
  text-align: center !important;
  position: relative;
}


.carousel-buttons {
  text-align: center;
}

.carousel-inner img {
  height: 391.11px;

}

.iphone-image {
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.ipad-image {
  max-width: 420px;
  height:391.11px;
  margin: auto;
}

.desktop-image {
  height: 391.11px;
  text-align: center;
  float: none;
  margin: auto;

}

/* SOPHIE'S CSS EDITS END*/

.section.signup {
  float: none;
}

/*
.section {
  padding: 3em 0;
}
*/

.section:first-of-type {
  margin-top: 4em;
  padding-top: 2em;
}

.subheading {
  color: #d2e3f8;
  font-weight: 300;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

.cta-button {
  margin-top: 2em;
}

.feature-item:first-of-type {
  margin-top: 2em;
}

.feature-item {
  margin-top: 4em;
  text-align: center;
}

.feature-item {
  padding-bottom: 4em;
  border-bottom: 1px solid #ccc;
}

.feature-item:last-of-type {
  border-bottom-width: 0;
}

.feature-title {
  font-weight: 500;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #333;
}

.section.personas a.persona-link {
  color: #d2e3f8;
  padding-bottom: 2em;
  padding-top: 2em;
  display: block;
  border-radius: 10px;
}

.testimonial-quote,
.testimonial-pic {
  text-align: center;
}

.testimonial-quote {

}

.section.personas a.persona-link:hover {
  color: #d2e3f8;
  text-decoration: none;
  background-color: #285aaa;
}

.section.features a.feature-link {
  color: #666 !important;
  display: block;
  padding: 2em;
  border-radius: 10px;
}

.section.features a.feature-link:focus,
.section.features a.feature-link:hover {
  text-decoration: none;
  background-color: #eee;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link {
  color: #efefef;
  font-weight: 500;
}

.nav-item {
  @media (min-width: 992px) {
    text-align: center;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu:after {
  position: absolute;
  left: 30px;
  top: -16px;
  display: block;
  content: "\f0d8";
  height: 16px;
  width: 18px;
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 40px;
  line-height: 26px;
}

.heading {
  margin: .5em auto;
  margin-bottom: .25em;
}

.section.personas {
  margin: 0;
  padding: 4em 0;
  background-color: #3273dc;
  color: #d2e3f8;
}

.persona-title {
  margin: 1em 0;
  color: #fff;
  font-weight: 300;
}

.persona-icon {
  color: #fff;
}

.feature-icon {
  color: #285aaa;
}

.personas-header {
  font-weight: 600;
  color: #fff;
  margin-bottom: 1em;
}

.section.security {
  background-color: #222;
  color: #efefef;
  margin: 0;
  padding: 6em 0;
}

.section.security .sec-lo {
  color: #ccc;
}

.section.security .sec-hi {
  color: #efefef;
  font-weight: 500;
}

.section.footer {
  color: #666;
  padding: 0;

  .container {
    border-top: 1px solid #ddd;
    padding-top: 1em;
  }

  a {
    color: #666;
  }

  li {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  i.fa {
    color: #999;
  }
}

.section.contactus {
  background-color: #efefef;
}

.section.features {
  background-color: #fafafa;
  color: #666;
  margin-top: 3em;
}

.section.pricing {
  padding-bottom: 2em;

  &:first-of-type {
    padding-top: 4em;
    background-color: $blue-l2;
    color: #fff;
  }

  .card {
    margin-top: 1em;
  }
}

.pricing-plan {
  padding-top: 2em;
  padding-bottom: 1em;
}

.plan-name {
  font-weight: 500;
}

.pricing-header {
  text-align: center;
  padding-top: 3em;
}

.pricing-plan-alt {
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}

.pricing-icon {
  margin-bottom: .15em;
  color: $blue-l3;
}

.price {
  margin-bottom: 1em;
}

.pricing-separator {
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  border: 0;
}

.dropdown-item {
  font-weight: 300;
  font-size: 85%;
  margin: .5em auto;
}

.feature-disabled {
  text-decoration: line-through;
  color: #d2e3f8;
}

.persona-bg {
  background: $blue-l3;
  height: 300px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 992px) {
    height: 700px;
  }
}

.persona-bg-doctor {
  @media (min-width: 992px) {
    background-image: url(images/doctor.jpg);
  }
}

.persona-bg-surgeon {
  @media (min-width: 992px) {
    background-image: url(images/surgeon.jpg);
  }
}

.persona-bg-nurse {
  @media (min-width: 992px) {
    background-image: url(images/nurse.jpg);
  }
}

.persona-bg-carer {
  @media (min-width: 992px) {
    background-image: url(images/carer.jpg);
  }
}

.persona-bg-manager {
  @media (min-width: 992px) {
    background-image: url(images/manager.jpg);
  }
}

.feature-item img {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tagline {
  position: absolute;
  top: 250px;
  width: 405px;
  color: #fff;

  &.tagline-alt {
    right: 0;
    text-align: right;
  }

  p {
    text-shadow: 1px 1px 2px black;
  }

  h3 {
    margin-bottom: 1em;
  }

  .btn-ih {
    margin-top: 1em;
    padding: 1em 3em;
    text-transform: uppercase;
  }

  @media (max-width: 992px) {
    width: 90%;
    text-align: center !important;
    position: relative;
    top: 30px;
    margin-top: 1em;
    margin: auto auto;
    padding: 4em 1em;
    background-color: #14325a;
    border-radius: 10px;
  }
}

.contact-details {
  color: #000;
  margin-bottom: .25em;
}

.navbar-inverse .navbar-toggler {
  border-color: transparent;
}

.lead-form {
  width: 270px;
  margin: 0 auto;
}

.lead-result {
  margin-top: 2em;
}

.section.legal {
  margin-top: 5em;

  h2 {
    font-size: 100%;
  }
}

.section.careers {
  margin-top: 5em;
}

.text-black {
  color: #000;
}

.padlock {
  max-width: 250px;
}

.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.social-icon {
  text-align: left;
  font-size: 1.5em;
}
